ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
 
  li {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  li a:hover:not(.active) {
    background-color: #111;
  }
 
  .active {
    background-color: #da8bd6;
  }

  img { 
border-radius: 10%;
      }

body {
cursor: url(diamond\ 2\ cursor.png), auto;
background-color: rgb(201, 168, 206);
color: rgb(58, 2, 58)

}

h1 {
text-shadow: 5px 5px 5px rgb(255, 251, 255);
font-size: 45px;
}


h2 {
font-size: 35px
}


a:hover {
cursor: url(diamond\ 2\ cursor.png), auto;
text-shadow: 3px 3px 3px #111;
}

a:visited {
color: rgb(255, 255, 255);
}
